<main class='container form-control' >  
    <img 
        src="/images/rooster_menu.png"
        height="50px"
        alt="rooster"
    />   
    <input type="submit" value="Cluck!"> 
    <input type="submit" value="Sign In">
    
</main>


